div.container{
    height:300px ;
    width:900px ;
    display: flex;
    background: yellow;
    align-items: center;
    justify-content: center;
}


.item-purple{
    background: purple;
    height: 100px;
    width: 100px;
    order: 1;
}   