.container{
display: flex;
background: yellow;
height: 300px;
width: 100%;
align-items: flex-end;
justify-content: flex-end;
padding: 0px;
}

.item{
height: 100px;
width: 100px;
background:purple;
display: inline-block;
margin-left: 6px;
}