body {
    background: rgb(30, 30, 90);
}

div {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

button{
    width: 200px;
    height: 60px;
    border-radius: 5px;
    font-size: 25px;
    color: cornsilk;
}

.blue {
    background: darkblue;
    border-color: darkblue;
    box-shadow: 0px 5px 0px 0px rgba(0, 0, 100, 1), inset 0px 2px 0px 0px rgba(0, 0, 200, 1);
}

.green {
    background: darkgreen;
    border-color: darkgreen;
    box-shadow: 0px 5px 0px 0px rgba(0, 70, 0, 1), inset 0px 2px 0px 0px rgba(0, 170, 0, 1);
}

.red {
    background: darkred;
    border-color: darkred;
    box-shadow: 0px 5px 0px 0px rgba(100, 0, 0, 1), inset 0px 2px 0px 0px rgba(200, 0, 0, 1);
}

