div.container{
    height:100%;
    width:900px;
    display: flex;
}

.item-green{
    background: green;
    flex-grow: 1;
    order: 2;
}

.item-yellow{
    background: yellow;
    flex-grow: 2;
    order: 1;
    }

.item-purple{
    background: purple;
    flex-grow: 1;
    order: 0;
}   